.btn {
    display: inline-block;
    margin-top: 20px;
    background: var(--green);
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: var(--green-dark);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.card h3 {
    margin: 15px 0;
}

.card button {
    margin-top: 15px;
    background: var(--green);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: var(--green-dark);
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

input:valid,
textarea:valid {
    border: 2px solid green;
}

input:invalid,
textarea:invalid {
    border: 2px solid red;
}

.logo-img{
    width:180px;
    height:auto;
    object-fit:contain;
}


.icon-img{
    width:50px;
}