* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5dc;
    color: #333;
    padding-top:120px;
}


a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

:root {
    --green: #4e6b4e75;
    --green-dark: #253b2ea6;
    --beige: #f5f5dc;
    --white: #fff;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}