<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>

    <header class="header">
        <div class="logo">EcoMarket</div>
    </header>

    <section class="featured">

        <h2>Contacto</h2>

        <form>

            <input type="text" placeholder="Nombre" required>

            <input type="email" placeholder="Correo" required>

            <textarea placeholder="Mensaje" required></textarea>

            <button class="btn">Enviar</button>

        </form>

    </section>

</body>

</html>