<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
</head>

<body>

    <!-- Encabezado de la página acerca de nosotros -->
    <header class="header">

        <div class="logo">
            <img src="../img/logo.png" alt="EcoMarket Logo" class="logo-img">
        </div>

        <nav class="nav">

            <nav class="nav">

                <a href="../index.html" class="nav-btn">Inicio</a>

                <a href="productos.html" class="nav-btn">Productos</a>

                <a href="sobre-nosotros.html" class="nav-btn">Nosotros</a>

                <a href="contacto.html" class="nav-btn">Contacto</a>

                <a href="sostenibilidad.html" class="nav-btn">Sostenibilidad</a>

            </nav>

    </header>
    <!-- Sección principal de la página sobre nosotros -->
    <section class="featured">

        <h2>Nuestra Historia</h2>

        <div class="quienes-somos-grid">

            <div class="card">
                <h2> ¿Que somos?</h2>
                <p class="p-quienes-somos">EcoMarket es una tienda virtual enfocada en la venta de productos ecológicos,
                    reutilizables y
                    sostenibles. Este proyecto fue desarrollado utilizando únicamente HTML5 y CSS3 puro, aplicando
                    principios de diseño responsive y buenas prácticas de maquetación web moderna.

                </p>

                <p class="p-quienes-somos">
                    Nuestro objetivo es ofrecer a los consumidores una alternativa consciente y responsable para
                    adquirir productos que respeten el medio ambiente, promoviendo un estilo de vida más sostenible
                    y saludable.
                </p>
            </div>

            <div class="card">
                <h2> lo que nos caracteriza</h2>
                <p class="p-quienes-somos">📌 Características de EcoMarket</p>
                <ul class="p-quienes-somos">
                    <li>🌿 Enfoque ecológico: Todos nuestros productos son seleccionados cuidadosamente para garantizar
                        que sean respetuosos con el medio ambiente, promoviendo la sostenibilidad y la reducción de
                        residuos.</li>
                    <li>♻️ Reutilizables: Ofrecemos una amplia gama de productos reutilizables, desde bolsas de tela
                        hasta botellas de agua, fomentando la reducción del uso de plásticos de un solo uso.</li>
                    <li>🌎 Compromiso ambiental: Nos esforzamos por minimizar nuestro impacto ambiental en todas las
                        etapas de nuestro negocio, desde la selección de productos hasta el embalaje y envío.</li>
                </ul>
            </div>

            <div class="card">
                <h2>visión ambiental</h2>
                <p class="p-quienes-somos">Nuestra visión es ser líder en la promoción de un estilo de vida sostenible,
                    contribuyendo
                    activamente a la protección del medio ambiente y al bienestar de las generaciones futuras.</p>
                <ul class="p-quienes-somos">
                    <li>🌱 Promover la conciencia ambiental: Queremos educar a nuestros clientes sobre la importancia de
                        adoptar hábitos sostenibles y cómo nuestras elecciones de consumo pueden marcar la diferencia.
                    </li>
                    <li>🌍 Fomentar la comunidad: Buscamos crear una comunidad de consumidores conscientes que compartan
                        nuestra pasión por el medio ambiente y se apoyen mutuamente en su camino hacia un estilo de vida
                        más sostenible.</li>
                </ul>
            </div>
            <div class="card">
                <h2>compromiso con la calidad</h2>
                <p class="p-quienes-somos">En EcoMarket, nos comprometemos a ofrecer productos de alta calidad que no
                    solo sean ecológicos, sino
                    también duraderos y funcionales. Trabajamos con proveedores confiables que comparten nuestros
                    valores y estándares de calidad para garantizar la satisfacción de nuestros clientes.</p>
                <ul class="p-quienes-somos">
                    <li>✅ Garantía de calidad: Todos nuestros productos pasan por un riguroso proceso de selección para
                        asegurar que cumplan con nuestros estándares de calidad y sostenibilidad.</li>
                    <li>🤝 Atención al cliente: Nos esforzamos por brindar un excelente servicio al cliente,
                        respondiendo a
                        cualquier pregunta o inquietud de manera rápida y eficiente.</li>
                </ul>
            </div>
            <div class="card">
                <h2>nuestro compromiso social</h2>
                <p class="p-quienes-somos">En EcoMarket, creemos que la sostenibilidad no solo se trata de cuidar el
                    medio ambiente, sino
                    también
                    de apoyar a las comunidades locales y promover prácticas comerciales justas. Por eso, nos
                    comprometemos a trabajar con proveedores que compartan nuestros valores éticos y sociales.</p>
                <ul class="p-quienes-somos">
                    <li>🤝 Comercio justo: Nos aseguramos de que nuestros proveedores cumplan con prácticas comerciales
                        justas, garantizando condiciones laborales dignas y salarios justos para los trabajadores.</li>
                    <li>🌍 Apoyo a comunidades locales: Siempre que sea posible, buscamos colaborar con productores
                        locales
                        para fomentar el desarrollo económico de las comunidades cercanas a nosotros.</li>
                </ul>
            </div>
            <div class="card">
                <h2>nuestro compromiso con la innovación</h2>
                <p class="p-quienes-somos">En EcoMarket, estamos comprometidos con la innovación constante para ofrecer
                    a nuestros clientes las
                    mejores opciones en productos ecológicos y sostenibles. Nos mantenemos al tanto de las últimas
                    tendencias y avances en el mercado para asegurarnos de que nuestra oferta sea siempre relevante y
                    atractiva.</p>
                <ul class="p-quienes-somos">
                    <li>🚀 Innovación en productos: Buscamos constantemente nuevos productos que sean innovadores,
                        útiles y
                        respetuosos con el medio ambiente para ampliar nuestra oferta y satisfacer las necesidades de
                        nuestros clientes.</li>
                    <li>💡 Mejora continua: Nos esforzamos por mejorar continuamente nuestros procesos y servicios para
                        brindar una experiencia de compra excepcional a nuestros clientes.</li>
                </ul>
            </div>
            <div class="card">
                <h2>nuestro compromiso con la comunidad</h2>
                <p class="p-quienes-somos">En EcoMarket, creemos que la sostenibilidad es un esfuerzo colectivo y que
                    todos tenemos un papel
                    importante que desempeñar en la protección del medio ambiente. Por eso, nos comprometemos a
                    fomentar una comunidad de consumidores conscientes y comprometidos con la sostenibilidad.</p>
                <ul class="p-quienes-somos">
                    <li>🌱 Educación ambiental: Ofrecemos recursos educativos y consejos prácticos para ayudar a
                        nuestros
                        clientes a adoptar hábitos más sostenibles en su vida diaria.</li>
                    <li>🤝 Comunidad de apoyo: Fomentamos la interacción entre nuestros clientes a través de nuestras
                        redes sociales y eventos comunitarios para compartir experiencias, consejos y motivación en el
                        camino hacia un estilo de vida más sostenible.</li>
                </ul>
            </div>
        </div>


    </section>

</body>
<video autoplay muted loop playsinline class="bg-video">
    <source src="../video/fondo.mp4" type="video/mp4">
</video>

</html>